<div class="library-mgr-wrapper">

    <div class="header-wrapper">
        <div class="title-wrapper">
            <app-comms-title-header [headerTitle]="'All Books'"></app-comms-title-header>
            <app-placeholder-space></app-placeholder-space>
            <app-comms-searching-bar [width]="'300px'"></app-comms-searching-bar>
        </div>
    </div>
    <app-comms-divider></app-comms-divider>

    <app-ebook-info-grid-container [ebookList]="ebookList" [isLoadingDone]="ebookLoadingDone"></app-ebook-info-grid-container>

    <!-- <app-placeholder-space></app-placeholder-space> -->

</div>