<div class="sys-preferences-wrapper">
  <div class="header-wrapper">
    <div class="title-wrapper">
      <app-comms-title-header [headerTitle]="'Appcation Preferences'"></app-comms-title-header>
      <app-placeholder-space></app-placeholder-space>
    </div>
  </div>
  <app-comms-divider></app-comms-divider>

  <div class="options-wrapper">
    <app-option-caches></app-option-caches>
    <app-option-sync></app-option-sync>
    <app-option-location></app-option-location>
    <app-option-theme></app-option-theme>
  </div>

</div>
