<!--
<div class="auth-config-wrapper">
  <div class="auth-icon-wrapper">
    <div class="auth-icon">
      <i nz-icon nzType="robot"></i>
    </div>
    <div class="auth-title-wrapper">
      Create a Administrator to Continue
    </div>
  </div>
  <div class="account-info-wrapper">
    <div class="account-username-wrapper">
      <div class="input-wrapper">
        <nz-input-group [nzPrefix]="prefixTemplateUsername">
          <input class="info-input" type="text" nz-input placeholder="Username" [(ngModel)]="username" />
        </nz-input-group>
      </div>
    </div>
    <div class="account-password-wrapper">
      <div class="input-wrapper">
        <nz-input-group [nzPrefix]="prefixTemplatePassword">
          <input class="info-input" type="password" nz-input placeholder="Password" [(ngModel)]="password" />
        </nz-input-group>
      </div>
    </div>

    <div class="api-server-wrapper">
      <div class="input-wrapper">
        <nz-input-group [nzPrefix]="prefixTemplateSever">
          <input class="info-input" type="text" nz-input placeholder="API Server URL" [(ngModel)]="apiServer" />
        </nz-input-group>
      </div>
    </div>
  </div>

  <div class="btn-confirm-wrapper">
    <button class="btn-ok" nz-button nzType="primary">Login</button>
  </div>

  <ng-template #prefixTemplateUsername><i nz-icon nzType="user"></i></ng-template>
  <ng-template #prefixTemplatePassword><i nz-icon nzType="lock"></i></ng-template>
  <ng-template #prefixTemplateSever><i nz-icon nzType="database"></i></ng-template>

</div>
-->
<router-outlet></router-outlet>
