<div class="reader-wrapper" #readerWrapper>
  <div class="reader-ctrl-wrapper" (mouseover)="onToggleChapterCtrl($event)" (mouseout)="onToggleChapterCtrl($event)">
    <div class="btn-ctrl" [hidden]="!isReaderPageCtrlShown" (click)="onPagePrev()">
      <i nz-icon nzType="left"></i>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="reader-content-mask" (click)="onToggleHeaderAndIndicator()"></div>
    <div id="reader-content" class="reder-content-wrapper"></div>
  </div>

  <div class="reader-ctrl-wrapper" (mouseover)="onToggleChapterCtrl($event)" (mouseout)="onToggleChapterCtrl($event)">
    <div class="btn-ctrl" [hidden]="!isReaderPageCtrlShown" (click)="onPageNext()">
      <i nz-icon nzType="right"></i>
    </div>
  </div>
</div>

