<div class="first-config-wrapper">
  <div class="header-wrapper">
    <div class="title-wrapper">
      <app-comms-title-header [headerTitle]="'Welcome'"></app-comms-title-header>
    </div>
  </div>
  <app-comms-divider></app-comms-divider>

  <div class="container-wrapper">
    <div class="server-wrapper"></div>

    <div class="root-user-wrapper">
      <div class="username-wrapper"></div>
      <div class="password-wrapper"></div>
      <div class="password-confirm-wrapper"></div>
    </div>
  </div>
</div>
