<div class="ebook-info-card-wrapper">
  <div class="ebook-cover-wrapper cus-border-shadow" (click)="onBookOpened(bookEntity.id)"
       nz-popover
       [nzPopoverTitle]="!isAddBookAction ? titleTemplate : null"
       [nzPopoverContent]="!isAddBookAction ? contentTemplate : null"
       [ngClass]="isAddBookAction ? 'ebook-adding-action' : null">

    <!-- 电子书封面 -->
    <img class="ebook-cover" [src]="ebookCoverUrl" *ngIf="!isCoverNull && !isAddBookAction"/>

    <!-- 新增电子书 功能按键 -->
    <div class="ebook-cover" *ngIf="isAddBookAction">
      <i nz-icon [nzType]="'plus-circle'" [ngClass]="'ebook-adding-icon'"></i>
      <div class="ebook-adding-action-text"> Adding Book(s)</div>
    </div>

    <!-- 默认封面 -->
    <div class="ebook-cover" *ngIf="isCoverNull">
      <i nz-icon [nzType]="'read'" [ngClass]="'ebook-non-cover'"></i>
    </div>
  </div>
  <div class="ebook-info-wrapper">
    <div class="ebook-title-wrapper">
      <span class="ebook-title">{{ bookEntity.bookTitle }}</span>
    </div>
    <div class="ebook-author-wrapper">
      <span class="ebook-authors">{{ bookEntity.bookAuthors }}</span>
    </div>
  </div>
</div>

<ng-template #titleTemplate><i nz-icon nzType="info-circle"></i> Book Overview</ng-template>
<ng-template #contentTemplate>
  <div class="ebook-info-detail-wrapper">
    <div class="ebook-info-detail-info-wrapper">
      <span class="info-title">Title: </span>
      <span class="info-content"> {{ bookEntity.bookTitle }} </span>
    </div>
    <div class="ebook-info-detail-info-wrapper">
      <span class="info-title">Authors: </span>
      <span class="info-content"> {{ bookEntity.bookAuthors }} </span>
    </div>
    <div class="ebook-info-detail-info-wrapper">
      <span class="info-title">Size: </span>
      <span class="info-content"> {{ bookEntity.bookSize }} </span>
    </div>
    <div class="ebook-info-detail-info-wrapper">
      <span class="info-title">PushedTime: </span>
      <span class="info-content">{{ bookEntity.bookPushedTime}}</span>
    </div>
    <div class="ebook-info-detail-info-wrapper">
      <span class="info-title">Description: </span>
      <span class="info-content"> {{ bookEntity.bookDescription }}</span>
    </div>
  </div>

</ng-template>
