.bookmark-list-container-wrapper {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: none;

  app-bookmark-list-item {
    width: 95%;
  }
}
